{% load staticfiles %}



<!-- footer -->
<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="aa-footer-widget">
                                    <h3>Main Menu</h3>
                                    <ul class="aa-footer-nav">
                                        <li><a href="#">Главная</a></li>
                                        <li><a href="#">Торты</a></li>
                                        <li><a href="#">Пироги</a></li>
                                        <li><a href="#">Конфеты</a></li>
                                        <li><a href="#">Десерты</a></li>
                                        <li><a href="#">Домашние изделия</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Contact Us</h3>
                                        <address>
                                            <p><span class="fa fa-location-arrow"></span>Казахстан, г.Актау, 16 мкр, ТРК "АКТАУ"</p>
                                            <p><span class="fa fa-location-arrow"></span>Казахстан, г.Жанаозен, 3 мкр, 42 дом</p>
                                            <p><span class="fa fa-location-arrow"></span>Казахстан, г.Алматы, ул. Ауезова, 167</p>
                                            <p><span class="fa fa-phone"></span>+77058833183</p>
                                            <p><span class="fa fa-whatsapp"></span>87058833183</p>
                                            <p><span class="fa fa-instagram"></span>@my_cake_aktau</p>
                                            <p><span class="fa fa-instagram"></span>@my_cake_kz</p>
                                            <p><span class="fa fa-instagram"></span>@my_cake_almaty</p>
                                        </address>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->

</footer>
<!-- / footer -->